@import '../../_global-vars.scss';

.game{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-top: 16px;

    &__bg-trick{
        // z-index: 9;
        position: absolute;
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
    }

    &__btn-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__btn-sect{
        z-index: 2;
        display: flex;
        justify-content: space-between;

        &:nth-of-type(1){
            transform: translateY(32px);
        }

        &:nth-of-type(2){
            transform: translateY(8px);
            width: 440px;
        }

        &:nth-of-type(3){
            transform: translateY(54px);
            width: 330px;
        }

    }
    // background-image: url('/images/bg-pentagon.svg');
}