@import './__global-vars.scss';

.App {
  text-align: center;
  background: $gradient-bg;
  background-position: 0% -255px;
  // background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%)); 
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__body{
    padding: 32px 0 0 0;
    width: 50vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
  }

  &__btn-sect{
    display: flex;
    justify-content: end;
    width: 100vw;
    padding-bottom: 36px;
    padding-right: 36px;
  }

  &__rules-btn{
    padding: 8px 32px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    color: $white75;
    background: none;
    border: 2px solid $white75;
    border-radius: 4px;

    transition: 0.3s;

    &:hover{
      color: $white;
      border-color: $white;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .App{
    &__body{
      width: 75vw;
    }
  }
}

@media only screen and (max-width: 916px) {
  .App{
    &__body{
      width: 75vw;
    }

    &__rules-btn{
      position: relative;
      margin-top: 72px;
    }
  }
}